@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand-50: rgb(249 245 255);
  --color-brand-100: rgb(244 235 255);
  --color-brand-200: rgb(233 213 255);
  --color-brand-300: rgb(214 188 250);
  --color-brand-400: rgb(183 148 244);
  --color-brand-500: rgb(158 119 237);
  --color-brand-600: rgb(127 86 217);
  --color-brand-700: rgb(105 65 198);
  --color-brand-800: rgb(85 48 171);
  --color-brand-900: rgb(66 48 125);

  --max-width-container: 1280px;
}
